---
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Algeria full stack .Dev">
  <main>
    <Hero />
  </main>
</Layout>

<style>
  .container {
    display: grid;
    min-height: 100dvh;
  }
</style>
