---
import NavBar from '../components/NavBar.astro';
import VideoBg from '../components/VideoBg.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Algeria full stack .Dev">
  <NavBar />
  <VideoBg />
  <h1>Welcome to Algeria full stack dev</h1>
  <p>this is the home page of Algeria full stack dev</p>
</Layout>
