---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
  <main class="portfolio">
    <header>
      <h1>PORTFOLIO</h1>
      <p>Conoce algunos de los proyectos en los que he trabajado.</p>
    </header>

    <section class="portfolio-section">
      <div class="portfolio-grid">
        <div class="portfolio-item">
          <img src="/img/portfolio-1.jpg" alt="Proyecto 1" />
          <h2>Proyecto 1</h2>
          <p>Descripción del Proyecto 1</p>
        </div>
      </div>
    </section>
  </main></Layout
>
