---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Portfolio">
  <main class="portfolio">
    <header>
      <h1>PORTFOLIO</h1>
      <p>Conoce algunos de los proyectos en los que he trabajado.</p>
    </header>

    <section class="portfolio-section">
      <div class="portfolio-grid">
        <div class="portfolio-item">
          <img src="/img/portfolio-1.jpg" alt="Proyecto 1" />
          <h2>Proyecto 1</h2>
          <p>Descripci贸n del Proyecto 1</p>
        </div>

        <div class="portfolio-item">
          <img src="/img/portfolio-2.jpg" alt="Proyecto 2" />
          <h2>Proyecto 2</h2>
          <p>Descripci贸n del Proyecto 2</p>
        </div>

        <div class="portfolio-item">
          <img src="/img/portfolio-3.jpg" alt="Proyecto 3" />
          <h2>Proyecto 3</h2>
          <p>Descripci贸n del Proyecto 3</p>
        </div>

        <div class="portfolio-item">
          <img src="/img/portfolio-4.jpg" alt="Proyecto 4" />
          <h2>Proyecto 4</h2>
          <p>Descripci贸n del Proyecto 4</p>
        </div>
      </div>
    </section>
    <Footer />
  </main></Layout
>
