---
import NavBar from '../components/NavBar.astro';
import VideoBg from '../components/VideoBg.astro';
import Footer from '../components/Footer.astro';
import '../css/index.css';
const { title, footer = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.webp" />
    <title>{title}</title>
  </head>
  <body>
    <VideoBg />
    <NavBar />

    <main><slot /></main>
    {footer && <Footer />}
  </body>
</html>
